/* body {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    width: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding-left: 30px;
    font-size: larger;
}

.right-bar {
    display: flex;
    text-decoration: none;
    gap: 32px;
    padding-right: 90px;
}

ul li {
    list-style: none;
    font-size: large;
}
 */
